.not-front {
  main {
    padding-top: 100px;
  }

  &._scrolling-down {
    main {
      padding-top: 0;
    }
  }
}

.cp-page__title {
  margin: 3rem 0;
}

.cp-page__title--detail{
  margin: 2.5rem 0 .5rem 0;
}

.cp-node__title {
  color: $primary-color-1;
  margin-bottom: 1.5rem;
}

.cp-node__field {
  margin: 0.5rem 0;
}

.cp-node__body {
  margin: 1.5rem 0;
}

.cp-node__read_more {
  display: block;
  font-family: $base-font-family-bold;
  margin: 3rem 0 1.5rem 0;
  text-transform: uppercase;
}

.cp-node__cat {
  @include transition-custom(background-color, 0.2s);
  @include bold(pro);
  color: $base-font-color;
  display: block;
  padding: 5px;
  text-align: center;
}

.cp-node__cat--1 {
  background-color: $primary-color-1;
  color: #fff;

  &:hover {
    background-color: lighten($primary-color-1, 5%);
  }
}

.cp-node__cat--2 {
  background-color: $intel-blue-l;

  &:hover {
    background-color: lighten($intel-blue-l, 5%);
  }
}

.cp-node__cat--3 {
  background-color: $intel-green;

  &:hover {
    background-color: lighten($intel-green, 5%);
  }
}

.cp-node__cat--4 {
  background-color: $secondary-color-1;

  &:hover {
    background-color: lighten($secondary-color-1, 5%);
  }
}

.cp-node__cat--detail {
  margin: 3rem 0 0 0;
}

.cp-node__field {
  color: $support-txt-color;
}

/*Remove margin, general styles*/
._nomargin--left {
  margin-left: 0;
}

._nomargin-right {
  margin-right: 0;
}

/*Share socials*/
.cp-node__social {
  list-style-type: none;
  margin: 2rem 0;
  li{
    display: inline-block;
    margin: .5rem;
    a {
      color: white;
      min-height: 35px;
      min-width: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      &.--purple {
        background-color: $facebook-color;
        &:hover {
          background-color: lighten($facebook-color, 5%);
        }
      }
      &.--blue {
        background-color: $twitter-color;
        &:hover {
          background-color: lighten($twitter-color, 5%);
        }
      }
      &.--gray {
        justify-content: flex-start;
        background-color: $lightgray;
        border-radius: 17px;
        color: $support-txt-color;
        width: 35px;
        overflow: hidden;
        @include breakpoint($sm) {
          padding: 5px 15px;
          width: auto;
        }
        i {
          margin: 0 10px 0 0;
        }
      }
    }
  }
}

/*Read next*/
.cp-node__read {
  width: 100%;
  background-color: $lightgray;
  box-shadow: inset 0px 3px 10px -4px rgba(0,0,0,0.75);
  padding: 0 0 3rem 0;
  margin: 3rem 0 0 0;
  overflow: hidden;
  .__read-item {
    margin-bottom: 2rem;
  }
  .__read-title {
    color: $primary-color-1;
    margin: 0.5rem 0;
  }
  .__read-more {
    color: $gray;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 10px;
    &:hover {
      color: lighten($gray, 5%);
    }
  }
}

